# --- Arquivos do Windows ---
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Arquivos de Java Compilados ---
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- Pastas de IDEs (IntelliJ, Eclipse, VS Code) ---
.idea/
*.iml
.settings/
.classpath
.project
.vscode/
bin/
out/
build/
target/
/nbproject/private/
